@mixin jvx_ie($primaryStyleName : v-nativebutton)
{

  .v-ie & .#{$primaryStyleName}
  {
	  padding: 2px;
  }
  
  .v-ie & .v-tabsheet-caption-close
  {
	padding-left: 0px;
	margin-top: -1px;
	margin-right: 0px;
	margin-left: -1px;
	margin-bottom: 0px;
  }  
}
	